<script>
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.staticImages = {
    splashBooks: '<%= asset_url("splash_image.png") %>',
    blankCover: '<%= asset_url("blank_cover.jpg") %>',
    lib24: '<%= asset_url("library_24.png") %>',
    lib32: '<%= asset_url("library_32.png") %>',
    libbw24: '<%= asset_url("library_bw_24.png") %>',
    libbw32: '<%= asset_url("library_bw_32.png") %>',
  }
</script>

<main id="root">
</main>
