<!DOCTYPE html>
<html>
  <head>
    <title>Shelf</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="<%= asset_url("shelf_icon.png") %>" rel="shortcut icon" type="image/png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
